.q1{width: 1171px;
    height: 175px;
margin-left: auto;
margin-right: auto;}
.q1 h1{font:bold 68px "宋体";color:#006986;
    margin-top: 40px;
margin-bottom: 13px;}
.q1 h3{font:bold 23px "微软雅黑",regular;color:#1e596a;
margin-top: 0px;}
.q2{width:auto;
    height: 50px;
    background:#33A1C9;
    font:21px "微软雅黑";}

.q8{width:auto;
    height: 50px;
    background:#3d8da3;
    font:21px "微软雅黑";}
.q2 ul{width: 1171px;
    padding: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;}
.q8 ul{width: 1171px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
     padding: 0px;
    text-align: center;}
.q2 li{display: inline-block;
    width: 119px;
    height: 50px;
line-height: 50px;}
.q2 a{color:#fff;
display: inline-block;
width: 119px;}
.q8 a{color:#fff;
display: inline-block;
width: 185px;}
.q2 a:hover{
     color:#33A1C9;}
.q8 a:hover{
     color:#33A1C9;}
.q2 li:hover{background: #fff;}
.q8 li:hover{background: #fff;}
.q7{width: 1171px;
margin-left: auto;
                                           
margin-right: auto;}
.q8 li{display: inline-block;
    width: 185px;
    height: 50px;
line-height: 50px;}
.q3,.q4{width: 1171px;
    margin-left: auto;
    margin-right: auto;}
.q3 .w1 div{display: inline-block;
    width: 385px;}
.q3 .w2 div{display: inline-block;
    width: 385px;}
.q4{width:auto;
    background:#e7f1f4;
    }
.q41{width: 1171px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}
.q4 .q41 div{display: inline-block;
    width: 340px;
vertical-align: top;}
.q4 .q41 .w4{font:32px/1.5em "黑体";
    color:#006986;
    margin:auto 0px;
    width:32px;
height: 140px;
line-height: 70px;
border-right: 3px solid #006986;}
.q6{width:auto;
    height: auto;
    background:#006986;}
.q6 .q61{width: 1171px;
    margin-left: auto;
    margin-right: auto;}
.q6 .w1{display: inline-block;
margin-right: 280px;}
.q6 .w2{display: inline-block;
margin-right: 50px;}
.q6 .w2 div{display: inline-block;}
.q6 .w2 img{vertical-align: top;}
a{text-decoration:none;}
.q3 a{font:17px "微软雅黑";line-height: 37px;color: black;}
.q4 a{font:17px "微软雅黑";line-height: 1.7em;color: black;}
h2{font: 27px "微软雅黑";color:#006986;}
.q3 .w2 .e1 li{border-bottom: 3px solid #006986}
.q3 .w2 .e3 li{border-bottom: 3px solid #006986}
.q3 a:hover{text-decoration: underline;}
.q4 a:hover{text-decoration: underline;}
